<strong>olá, {{ student }}</strong>
<p>Houve uma reposta a sua ordem de ajuda!</p>
<p>
  <strong>Pergunta: </strong> {{ question }}
  <br />
  <strong>Resposta: </strong> {{ answer }}
  <br/>
  <br/>
</p>
