<strong>Seja bem vindo a Gympointer, {{ student }}</strong>
<p>Sua matricula foi realizada com sucesso, confira os detalhes abaixo!</p>
<p>
  <strong>Plano: </strong> {{ plan }}
  <br />
  <strong>Data termino: </strong> {{ date }}
  <br />
  <strong>Valor Plano: </strong> {{ price }}
  <br/>
  <br/>
</p>
